<%= render partial: 'shared/heading', locals: { title: 'Preferences' } %>

<div class="card mb-5">
  <div class="card-body">
    <h5 class="card-title">Account</h5>
    <%= form_for @account, url: { action: 'update' }, html: { class: 'settings_form' } do |f| %>
      <div class="form-group">
        <%= f.label :login %>
        <div class="row">
          <div class="col-md-6">
            <%= f.text_field :login, class: 'form-control' %>
            <small class="form-text text-danger">
              <%= f.object.errors.messages[:login].join(',') %>
            </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <div class="row">
          <div class="col-md-6">
            <%= f.text_field :email, class: 'form-control', type: 'email' %>
            <small class="form-text text-danger">
              <%= f.object.errors.messages[:email].join(',') %>
            </small>
          </div>
        </div>
      </div>
      <%= f.button 'Save', class: 'btn btn-default btn-primary' %>
    <% end %>
  </div>
</div>

<div class="card mb-5">
  <div class="card-body">
    <h5 class="card-title">Privacy</h5>
    <%= form_for @account, url: { action: 'update' }, html: { class: 'settings_form' } do |f| %>
      <div class="form-group">
        <div class="form-check">
          <%= f.check_box :public_site, class: 'form-check-input' %>
          <%= f.label :public_site, 'Public account', class: 'form-check-label' %>
        </div>
      </div>

      <div class="form-group pt-2">
        <%= f.label :rss_auth_token, 'Private RSS feed:' %>
        <br />
        <%= link_to(feed_url(username: current_account.login, auth_token: f.object.rss_auth_token), feed_url(username: current_account.login, auth_token: f.object.rss_auth_token)) %>
      </div>

      <div class="form-group pt-2">
        <%= f.label :rss_auth_token, 'Private RSS feed for tags:' %>
        <br />
        <%= link_to(tag_feed_url(username: current_account.login, name: 'books', auth_token: f.object.rss_auth_token), tag_feed_url(username: current_account.login, name: 'books', auth_token: f.object.rss_auth_token)) %>
        <small class="form-text">
          Using the same format as the link above, you can now subscribe to tags feeds when your account is private.
        </small>
      </div>
      <%= f.button 'Save', class: 'btn btn-default btn-primary' %>
    <% end %>
  </div>
</div>

<div class="card mb-5">
  <div class="card-body">
    <h5 class="card-title">Bundles</h5>
    <%= form_for @account, url: { action: 'update' }, html: { class: 'settings_form' } do |f| %>
      <%= f.fields_for :bundles do |ff| %>
        <div class="form-group">
          <%= ff.label :name %>
          <%= ff.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= ff.label :tags %>
          <%= ff.text_field :tags, class: 'form-control' %>
        </div>

        <div class="form-group">
          <div class="form-check">
            <%= ff.check_box :shared, class: 'form-check-input' %>
            <%= ff.label :shared, class: 'form-check-label' %>
          </div>
        </div>

        <% if ff.object.persisted? %>
          <div class="form-group">
            <div>
              <%= ff.check_box :_destroy %>
              <%= ff.label :_destroy, "Remove" %>
            </div>
          </div>
        <% end %>

        <hr />
        
      <% end %>

      <%= link_to_add_fields 'Add Bundle', f, :bundles %>

      <hr />
      
      <%= f.button 'Save', class: 'btn btn-default btn-primary' %>
    <% end %>
  </div>
</div>

<div class="card mb-5">
  <div class="card-body">
    <h5 class="card-title">Delete account</h5>
    <p class="card-text">Be careful! Deleting your account will remove <strong>all your bookmarks</strong>.</p>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAccountConfirmation">
      Delete my account
    </button>
  </div>
</div>

<!-- Our delete modal -->
<div class="modal fade" id="deleteAccountConfirmation" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Delete Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete your account?</p>
        <p>This process cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Yes, delete my account', @account, method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>

<script>
  $('form').on('click', '.add_fields', function(event) {
    var regexp, time;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    $(this).before($(this).data('fields').replace(regexp, time));
    return event.preventDefault();
  });
</script>
